.NoticeHasIp {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 25%);
}

.NoticeHasIp_contain {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}
